<p><em>{{~#each altNames~}}{{.}}{{#unless @last}}, {{/unless}}{{/each~}}</em></p>
<div>
{{#each (split description)}}
    <p>{{.}}</p>
{{/each}}
</div>
<p><strong>Initial Rage:</strong> {{initialRage}}</p>
<p><strong>Stereotype:</strong> <em>{{stereotype}}</em></p>
<blockquote class="auspice-quote">{{quote}}</blockquote>

{{>gifts}}